<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Atenciones</h1>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="btn-group">
                    <button (click)="abrirModal('insertar')" type="button" data-toggle="modal" data-target="#medic"
                        class="btn btn-default btn-sm">
                        <i class="fas fa-plus"></i>
                    </button>
                    <button [disabled]="!seleccionAtencion.size" (click)="eliminarAtencion()" type="button"
                        class="btn btn-default btn-sm">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button (click)="abrirModal('actualizar')"
                        [attr.data-toggle]="seleccionAtencion.size == 1 ? 'modal': null"
                        [attr.data-target]="seleccionAtencion.size == 1 ? '#medic': null"
                        [disabled]="seleccionAtencion.size != 1" class="btn btn-default btn-sm">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button (click)="seleccionarTodo(atenciones, seleccionAtencion)" class="btn btn-default btn-sm">
                        <i class="fas fa-check-double"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="card-responsive">
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>Paciente</th>
                                    <th>Medico</th>
                                    <th>Hospitalización</th>
                                    <th>Fecha</th>
                                    <th>Detalles</th>
                                </tr>
                            </thead>
                            <tbody style="cursor: pointer;">
                                <tr *ngFor="let atencion of atenciones"
                                    [ngClass]="{'table-primary': seleccionAtencion.has(atencion)}"
                                    (click)="seleccionarLinea(seleccionAtencion, atencion, 0)">
                                    <td>{{atencion.NombrePaciente}}</td>
                                    <td>{{atencion.NombreMedico}}</td>
                                    <td>{{atencion.ID_Hospitalizacion}}</td>
                                    <td>{{atencion.Fecha}}</td>
                                    <td>{{atencion.Detalles}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="medic" tabindex="-1" aria-labelledby="exampleModalXlLabel" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4" id="exampleModalXlLabel">Creación/Edición de Atenciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="">Paciente</label>
                            <select (change)="onPacienteChange()" class="form-control form-control-sm"
                                [(ngModel)]="ID_Paciente">
                                <option *ngFor="let paciente of pacientes" [ngValue]="paciente.ID">
                                    {{paciente.Nombre + ' ' + paciente.Apellidos}}
                                </option>
                            </select>
                        </div>
                    </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="">Médico</label>
                                <select class="form-control form-control-sm">
                                    <option *ngFor="let medico of medicos" [ngValue]="medico.ID">
                                        {{medico.Nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>


                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="">Hospitalización</label>
                            <select class="form-control form-control-sm" [(ngModel)]="ID_Hospitalizacion">
                                <option *ngFor="let hospitalizacion of hospitalizaciones"
                                    [ngValue]="hospitalizacion.ID">
                                    {{hospitalizacion.ID}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="">Fecha</label>
                            <input type="date" class="form-control form-control-sm" [(ngModel)]="Fecha">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="">Tipo</label>
                            <select class="form-control form-control-sm" [(ngModel)]="Tipo">
                                <option value="vm">Visitas médicas</option>
                                <option value="am">Aplicación de medicamente</option>
                                <option value="as">Suministro de alimentos</option>
                                <option value="em">Exámenes médicos</option>
                                <option value="ae">Atenciones extras</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="">Detalles</label>
                            <textarea type="text" class="form-control form-control-sm"
                                [(ngModel)]="Detalles"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button (click)="modoFormulario === 'actualizar' ? actualizarAtencion() : insertarAtencion()"
                    type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>