<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Cobro de Consultorios</h1>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="btn-group">
                    <button (click)="establecerParametros(0, '', '', 0, 0, 0, 0)" type="button" data-toggle="modal"
                        data-target="#medic" class="btn btn-default btn-sm">
                        <i class="fas fa-plus"></i>
                    </button>
                    <button [disabled]="!seleccionCobroConsultorio.size" (click)="eliminarCobroConsultorio()"
                        type="button" class="btn btn-default btn-sm">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button (click)="obtenerCobroConsultorio()"
                        [attr.data-toggle]="seleccionCobroConsultorio.size == 1 ? 'modal': null"
                        [attr.data-target]="seleccionCobroConsultorio.size == 1 ? '#medic': null"
                        [disabled]="seleccionCobroConsultorio.size != 1" class="btn btn-default btn-sm">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button (click)="seleccionarTodo(cobroConsultorios, seleccionCobroConsultorio)"
                        class="btn btn-default btn-sm">
                        <i class="fas fa-check-double"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="card-responsive">
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Concepto</th>
                                    <th>Valor</th>
                                    <th>Impuesto</th>
                                    <th>Total</th>
                                    <th>Nombre Consultorio</th>
                                </tr>
                            </thead>
                            <tbody style="cursor: pointer;">
                                <tr *ngFor="let coboConsultorio of cobroConsultorios"
                                    [ngClass]="{'table-primary': seleccionCobroConsultorio.has(coboConsultorio)}"
                                    (click)="seleccionarLinea(seleccionCobroConsultorio, coboConsultorio, 1)">
                                    <td>{{coboConsultorio.Nombre}}</td>
                                    <td>{{coboConsultorio.Concepto}}</td>
                                    <td>{{coboConsultorio.Valor}}</td>
                                    <td>{{coboConsultorio.Impuesto}}</td>
                                    <td>{{coboConsultorio.Total}}</td>
                                    <td>{{coboConsultorio.NombreConsultorio}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="medic" tabindex="-1" aria-labelledby="exampleModalXlLabel" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4" id="exampleModalXlLabel">Creación/Edición de Cobro Consultorio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="">Nombre</label>
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="Nombre">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="">Concepto</label>
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="Concepto">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="">Valor</label>
                            <input type="number" class="form-control form-control-sm" [(ngModel)]="Valor">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="">Impuesto</label>
                            <input type="number" class="form-control form-control-sm" [(ngModel)]="Impuesto">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="">Total</label>
                            <input type="number" class="form-control form-control-sm" [(ngModel)]="Total">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="">Consultorio</label>
                            <select class="form-control form-control-sm" [(ngModel)]="ID_Consultorio">
                                <option *ngFor="let consultorio of consultorios" [value]="consultorio.ID">
                                    {{consultorio.Nombre}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button
                    (click)="seleccionCobroConsultorio.size == 1 ? actualizarCobroConsultorio() : insertarCobroConsultorio()"
                    type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>