<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Camas</h1>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="btn-group">
                    <button (click)="establecerParametros(0, '', '')" type="button" data-toggle="modal"
                        data-target="#medic" class="btn btn-default btn-sm">
                        <i class="fas fa-plus"></i>
                    </button>
                    <button [disabled]="!seleccionCama.size" (click)="eliminarCama()" type="button"
                        class="btn btn-default btn-sm">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button (click)="obtenerCama()" [attr.data-toggle]="seleccionCama.size == 1 ? 'modal': null"
                        [attr.data-target]="seleccionCama.size == 1 ? '#medic': null"
                        [disabled]="seleccionCama.size != 1" class="btn btn-default btn-sm">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button (click)="seleccionarTodo(camas, seleccionCama)" class="btn btn-default btn-sm">
                        <i class="fas fa-check-double"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="card-responsive">
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>Numero Inventario</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody style="cursor: pointer;">
                                <tr *ngFor="let cama of camas" [ngClass]="{'table-primary': seleccionCama.has(cama)}"
                                    (click)="seleccionarLinea(seleccionCama, cama, 1)">
                                    <td>{{cama.Numero}}</td>
                                    <td>{{cama.Estado}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="medic" tabindex="-1" aria-labelledby="exampleModalXlLabel" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4" id="exampleModalXlLabel">Creación/Edición de Cama</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="">Número de inventario</label>
                            <input [(ngModel)]="Numero" type="text" class="form-control-sm form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="">Estado de la cama</label>
                            <select class="form-control form-control-sm" [(ngModel)]="Estado">
                                <option value="ocupada">Ocupada</option>
                                <option value="libre">Libre</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button (click)="seleccionCama.size == 1 ? actualizarCama() : insertarCama()" type="button"
                    class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>