<div class="content-header">
    <div class="container">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Camas</h1>
        </div>
      </div>
    </div>
  </div>
  
  <div class="content">
    <div class="container">
      <div class="card">
        <div class="card-header">
          
          <div class="demo-button-container">
            <button mat-raised-button (click)="agregarFila()" class="demo-button">
              Agregar Cama
            </button>
            <button
                mat-raised-button
                *ngIf="hasEditableCamas()"
                (click)="eliminarCama()"
                class="demo-button">
              Eliminar Cama
            </button>
            <!--
            <button
                mat-raised-button
                [disabled]="!hasEditableMedicos()"
                (click)="guardarCambios()"
                class="demo-button"
                style="float: right;">
              Guardar cambios
            </button>
          -->
            
          </div>
          
          <table mat-table [dataSource]="camas" class="mat-elevation-z8">
            <!-- Columna Nombre -->
            <ng-container matColumnDef="Numero">
              <th mat-header-cell *matHeaderCellDef> Numero </th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="!element.isEditing; else editNumero">
                  {{ element.Numero }}
                </div>
                <ng-template #editNumero>
                  <input matInput [(ngModel)]="element.Numero" placeholder="Numero" />
                </ng-template>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="Estado">
              <th mat-header-cell *matHeaderCellDef> Estado </th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="!element.isEditing; else editEstado">
                  {{ element.Estado }}
                </div>
                <ng-template #editEstado>
                  <input matInput [(ngModel)]="element.Estado" placeholder="Estado" />
                </ng-template>
              </td>
            </ng-container>
            <ng-container matColumnDef="Habitacion_ID">
              <th mat-header-cell *matHeaderCellDef> Habitacion_ID </th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="!element.isEditing; else editHabitacion_ID">
                  {{ element.Habitacion_ID }}
                </div>
                <ng-template #editHabitacion_ID>
                  <input matInput [(ngModel)]="element.Habitacion_ID" placeholder="Habitacion_ID" />
                </ng-template>
              </td>
            </ng-container>
            <ng-container matColumnDef="Acciones">
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let element">
                <button mat-button (click)="toggleEdit(element)">Editar</button>
                <button mat-button *ngIf="element.isEditing" (click)="saveRow(element)">Guardar</button>
                <button mat-button *ngIf="element.isEditing" (click)="cancelarEdicion(element)">Cancelar</button>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  