<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
        <a href="/main" class="navbar-brand">
            <img src="assets/dist/img/CentroMedico.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                style="opacity: .8">
            <span class="brand-text font-weight-light">CentroMedicoPaz</span>
        </a>

        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" class="nav-link dropdown-toggle">Catálogo</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="javascript:void(0)" routerLink="/main/medico" class="dropdown-item">Médicos</a>
                        </li>
                        <li><a href="javascript:void(0)" routerLink="/main/habitacion"
                                class="dropdown-item">Habitaciones</a></li>
                        <li><a href="javascript:void(0)" routerLink="/main/quirofano"
                                class="dropdown-item">Quirófanos</a></li>
                        <li><a href="javascript:void(0)" routerLink="/main/paciente" class="dropdown-item">Pacientes</a>
                        <li><a href="javascript:void(0)" routerLink="/main/cama" class="dropdown-item">Camas</a></li>
                        <li><a href="javascript:void(0)" routerLink="/main/consultorio"
                                class="dropdown-item">Consultorios</a></li>
                        <li><a href="javascript:void(0)" routerLink="/main/cobroconsultorio" class="dropdown-item">Pago a externos</a></li>
                        <!-- End Level two -->
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" class="nav-link dropdown-toggle">Operaciones</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="javascript:void(0)" routerLink="/main/consulta" class="dropdown-item">Consultas Medicas</a>
                        </li>
                        <li><a href="javascript:void(0)" routerLink="/main/hospitalizacion"
                                class="dropdown-item">Hospitalizacion</a></li>
                        <li><a href="javascript:void(0)" routerLink="/main/atencion"
                                class="dropdown-item">Atenciones</a></li>
                        <li><a href="javascript:void(0)" routerLink="/main/cirugia" class="dropdown-item">cirugías</a>
                        </li>
                        <li><a href="javascript:void(0)" routerLink="/main/factura" class="dropdown-item">Facturas</a>
                        </li>
                        <li><a href="javascript:void(0)" routerLink="/main/cheque" class="dropdown-item">Cheques</a>
                        </li>
                        <!-- End Level two -->
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" class="nav-link dropdown-toggle">Consultas</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="javascript:void(0)" routerLink="/main/pacientesatendidos" class="dropdown-item">Pacientes Atentidos</a>
                        </li>
                        <li><a href="javascript:void(0)" routerLink="/main/inventario"
                                class="dropdown-item">Inventario Disponible</a></li>
                        <li><a href="javascript:void(0)" routerLink="/main/resumenmedicos"
                                class="dropdown-item">Resumen de medicos</a></li>
                        <li><a href="javascript:void(0)" routerLink="/main/list" class="dropdown-item">Habitaciones y camas</a>
                       <!-- End Level two -->
                    </ul>
                </li>
            </ul>

            <!-- SEARCH FORM -->
            
        </div>

        <!-- Right navbar links -->
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            
        </ul>
    </div>
</nav>