<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Consulta pacientes atendidos por medico</h1>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="form-group">
                <label for="medico  ">Seleccione un Médico</label>
                <select (change)="obtenerPacientesAtendidosPorMedico(ID_Medico)" class="form-control form-control-sm" [(ngModel)]="ID_Medico" style="width: auto; display: inline-block; margin-right: 25px;">
                  <option *ngFor="let medico of medicos" [value]="medico.ID">{{medico.Nombre}}</option>
                </select>
              </div>
              
              
            <div class="card-body p-0">
                <div class="card-responsive">
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>Paciente ID</th>
                                    <th>Nombre Paciente</th>
                                    <th>No. de Consulta</th>
                                    <th>No. de Hospitalizacion</th>
                                    <th>Total de cirugias</th>
                                    <th>Total de Atenciones</th>
                                </tr>
                            </thead>
                            <tbody style="cursor: pointer;">
                                <tr *ngFor="let pacienteatendido of pacientesAtendidos"
                                    [ngClass]="{'table-primary': seleccionPacienteAtendido.has(pacienteatendido)}"
                                    (click)="seleccionarLinea(seleccionPacienteAtendido, pacienteatendido, 0)">
                                    <td>{{pacienteatendido.ID_Paciente}}</td>
                                    <td>{{pacienteatendido.Nombre_Paciente}}</td>
                                    <td>{{pacienteatendido.ID_Consulta}}</td>
                                    <td>{{pacienteatendido.ID_Hospitalizacion}}</td>
                                    <td>{{pacienteatendido.Cirugias_Recibidas}}</td>
                                    <td>{{pacienteatendido.Atenciones_Recibidas}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="medic" tabindex="-1" aria-labelledby="exampleModalXlLabel" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4" id="exampleModalXlLabel">Creación/Edición de Cobro Consultorio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="">Médico</label>
                            <select >
                                
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="">Concepto</label>
                            <input type="text" class="form-control form-control-sm" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="">Valor</label>
                            <input type="number" class="form-control form-control-sm" >
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="">Impuesto</label>
                            <input type="number" class="form-control form-control-sm">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="">Total</label>
                            <input type="number" class="form-control form-control-sm" >
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="">Consultorio</label>
                            <select class="form-control form-control-sm" >
                                
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button
                   
                    type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>