
<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Resumen General Medicos la Paz</h1>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body p-0">
                <div class="card-responsive">
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>Medico ID</th>
                                    <th>Nombre</th>
                                    <th>Especialidad</th>
                                    <th>Consultas Realizadas</th>
                                    <th>Cirugias Realizadas</th>
                                </tr>
                            </thead>
                            <tbody style="cursor: pointer;">
                                <tr *ngFor="let resumen of Resumenes"
                                    [class.table-primary]="seleccionResumen.has(resumen)"
                                    (click)="seleccionarLinea(seleccionResumen, resumen, 0)">
                                    <td>{{resumen.ID_Medico}}</td>
                                    <td>{{resumen.Nombre_Medico}}</td>
                                    <td>{{resumen.Especialidad}}</td>
                                    <td>{{resumen.Consultas_Realizadas}}</td>
                                    <td>{{resumen.Cirugias_Realizadas}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>